
<style>
.readings {
    background-color: rgba(221, 221, 221, 0.25);
    background: url('../images/charting/sprite.png') repeat-x;
    min-height: 51px;
    width: 100%;
    float: left;
    position: relative;
}
</style>

<div class="series-details series-details-advanced">
	<a href="./#"><div title="Jet Airways" class="name name-advanced">Jet Airways</div></a>
	<!--<div class="exchange exchange-advanced ">(<span class="val">NSE</span>)</div>-->
	<!--<div class="subtitle subtitle-advanced" title='' ></div>-->
</div>
<div class="core-readings">

		<div class="arrow up"></div>
		<div class="core">252.65</div>
		<div class="change green">+0.50 (+0.20%)</div>

</div>
<div class="sub-readings">

		<div class="reading-box  reading-box-advanced" id="volume-box">
			<div class="reading-name reading-name-advanced">volume</div>
			<div class="reading-value reading-value-advanced" id="volume">83,58,328</div>
		</div>

		<div class="reading-box  reading-box-advanced" id="open-box">
			<div class="reading-name reading-name-advanced">open</div>
			<div class="reading-value reading-value-advanced" id="open">252.50</div>
		</div>

		<div class="reading-box  reading-box-advanced" id="high-box">
			<div class="reading-name reading-name-advanced">high</div>
			<div class="reading-value reading-value-advanced" id="high">258.80</div>
		</div>

		<div class="reading-box  reading-box-advanced" id="low-box">
			<div class="reading-name reading-name-advanced">low</div>
			<div class="reading-value reading-value-advanced" id="low">250.50</div>
		</div>

</div>
